.filter-bar{

    display:flex;

    gap:18px;

    margin-bottom:35px;

    flex-wrap:wrap;
}

.filter-bar select{

    background:#111827;

    color:white;

    border:1px solid rgba(255,255,255,.08);

    padding:14px 18px;

    border-radius:12px;

    min-width:180px;

    transition:.25s;
}

.filter-bar select:hover{

    border-color:var(--primary);
}

.filter-bar select:focus{

    outline:none;

    border-color:var(--primary);
}